server:
  port: 8081

spring:
  application:
    name: secrets-service
  data:
    mongodb:
      uri: mongodb://pulseops:pulseops_secret@localhost:27017/pulseops-secrets

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

otel:
  exporter:
    otlp:
      endpoint: http://localhost:4318
  traces:
    exporter: otlp
  metrics:
    exporter: otlp
  logs:
    exporter: otlp

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    com.pulseops.secrets: INFO
